body{position:relative; background:#000; ;}

.tree{ display: block;
    margin: 0px auto;
    text-align: center;}
	
	
	.dollar_n {
 position: absolute;
    top: 52%;
    left: 34%;
}

.dollar_n img {width:50%;}
.dollar_n1 img {width:50%;}
.dollar_n2 img {width:50%;}


.dollar_n1 {
   position: absolute;
    top: 44%;
    left: 50%;
}


	.dollar_n2 {
   position: absolute;
    top: 49%;
    right: 36%;
}

.land img {
    width: 37%;
}
.land {
  position: absolute;
    top: 93%;
    left: 43%;
}

.chest {
  position: absolute;
    top: 88%;
    left: 47%;
}

.chest12 {
  position: absolute;
 top: 90%;
    left: 43%;
}

@media (max-width:999px) {
	
	.tree_img{ width:100%; }
	.dollar_n img {width: 40%;}  .dollar_n1 img {width: 40%; }   .dollar_n2 img {width: 40%;} 
	.dollar_n1 {
    position: absolute;
    top: 43%;
    left: 51%;
}
.dollar_n {
    position: absolute;
    top: 50%;
    left: 25%;
}

.dollar_n2 {
    position: absolute;
    top: 50%;
    right: 5%;
}

.chest12 img {width: 70%;} .chest img {width: 70%;}
.chest12 {
       position: absolute;
    top: 92%;
    left: 33%;
}
.chest {
   position: absolute;
    top: 91%;
    left: 47%;
}

	
	
}